<div class="centered-content">
    <div class="modal-box">
        <h2 class="title">Create a new task</h2>

        <input #taskTitleInput class="input has-background-light" type="text" placeholder="New task">
        
        <br><br>

        <div class="buttons is-right">
            <button [routerLink]="['/lists', listId]" class="button is-danger is-outlined">Delete</button>
            <button (click)="createTask(taskTitleInput.value)" class="button is-primary">Create</button>
        </div>

    </div>
</div>