<div class="centered-content">

    <div class="task-manager-container">

        <!--SIDEBAR-->
        <div class="sidebar has-background-white">
            <!--TITLE-->
            <h3 class="title has-text-primary">
                Lists
            </h3>
            <!--LIST MENU-->
            <div class="list-menu">
                <a class="list-menu-item">List #1</a>
                <a class="list-menu-item is-active">List #2</a>
            </div>
            <!--ADD BUTTON-->
            <button class="button is-primary" (click)="createNewList()">NEW LIST</button>
        </div>

        <!--TASK LIST-->
        <div class="task-list-container has-background-light">

            <!--TITLE-->
            <h3 class="title has-text-primary">
                Tasks
            </h3>
            
            <!--TASKS-->
            <div class="task">
                <p>Gotta go fast!</p>
            </div>
            
            <div class="task complete">
                <p>Gotta go fast!</p>
            </div>
        </div>

    </div>

</div>