<div class="centered-content">

    <div class="task-manager-container">

        <!--SIDEBAR-->
        <div class="sidebar has-background-white">
            <!--TITLE-->
            <h3 class="title has-text-primary">
                Lists
            </h3>
            <!--LIST MENU-->
            <div class="list-menu">
                <!--DINAMIC LIST-->
                <!--When using router link, we need to seen the route and the id apart with a comma-->
                <a *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active"  class="list-menu-item">{{list.title}}</a>
            </div>
            <!--ADD BUTTON-->
            <button class="button is-primary" routerLink="/new-list">NEW LIST</button>
        </div>

        <!--TASK LIST-->
        <div class="task-list-container has-background-light">
            <div *ngIf="tasks">
                <div class="top-bar">
                    <!--TITLE-->
                    <h3 class="title has-text-primary">
                        Tasks
                    </h3>

                    <div class="dropdown is-right is-hoverable">
                        <div class="dropdown-trigger">
                          <button class="button" aria-haspopup="true">
                            <span class="material-icons">settings </span>
                            <span class="icon is-small">
                              <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                          </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                          <div class="dropdown-content">
                            <!--
                            <div class="dropdown-item">
                              <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                            </div>
                            -->
                            <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                              Edit
                            </a>
                            <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                              Delete
                            </a>
                          </div>
                        </div>
                      </div>
                </div>
                
                <!--TASKS-->
    
                <div *ngFor="let task of tasks" (click)="onTaskClick(task)"  class="task" [ngClass]=" { 'complete': task.completed} ">
                    <p>{{task.title}}</p>
                </div>

                <h3 class="empty-state-text" *ngIf="tasks.length === 0">There are no tasks here! Click the "+" button to add a new task.</h3>
                
                <!--ADD BUTTON-->
                <button routerLink="./new-task" class="circle-add-button button is-primary">
                    <span class="material-icons md-48">add</span>
                </button>
            </div>

            <div *ngIf="!tasks">
                <h3 class="empty-state-text">Please select a list from the sidebar</h3>
            </div>

        </div>

    </div>

</div>